body {
    background-color: black;
}

.navbar::before {
    content: " ";
    display: table;
}

.navbar::after {
    content: " ";
    display: table;
}

.navbar {
    background-color: #454545
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-menu li a:hover {
    background-color: #111111;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

*, ::before, ::after{
    box-sizing: border-box;
}